<form method="post" action="{{ path('app_wordle_delete', {'id': wordle_solution.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ wordle_solution.id) }}">
    <button class="btn">Delete</button>
</form>
