{% extends 'base.html.twig' %}

{% block title %}New WordleSolution{% endblock %}

{% block body %}
    <h1>Create new WordleSolution</h1>

    {{ include('wordle/_form.html.twig') }}

    <a href="{{ path('app_wordle_index') }}">back to list</a>
{% endblock %}
