{% extends 'base_email.html.twig' %}
{% block header %}Email best채tigen{% endblock %}
{% block content %}
    <h2>Hallo {{ user.username }}!</h2>
    <p>
        Du hast dich versucht auf Amronas zu registrieren.
        Bitte best채tige deine Email-Adresse, indem du auf folgenden Link klickst:
    </p>
    <p>
        <a href="{{ signedUrl|raw }}"target="_blank">Email best채tigen</a>.
    </p>
    <p>
        Dieser Link verliert seine G체ltigkeit in einer Stunde.
    </p>
{% endblock %}