<form method="post" action="{{ path('app_movie_list_delete', {'id': movieList.id}) }}"
      onsubmit="return confirm('Willst du wirklich die gesamte Liste löschen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ movieList.id) }}">
    <button class="btn btn-small btn-plain">Liste löschen</button>
</form>
