{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1 class="font-handwritten">E-Mail wurde versendet</h1>
        <div class="mt-3">
            <p>
                Wenn ein Konto mit deiner E-Mail-Adresse existiert, dann wird eine E-Mail versendet,<br>
                die einen Link enthält, über den du dein Passwort zurücksetzen kannst.
            </p>
            <p>Der Link wird nach einer Stunde ablaufen.</p>
            <p>
                Wenn du keine E-Mail erhältst,
                überprüfe bitte deinen Spam-Ordner oder <a href="{{ path('app_forgot_password_request') }}">versuche es später noch einmal</a>.
            </p>
        </div>
    </div>
{% endblock %}