{% extends 'base.html.twig' %}

{% block title %}Soon TM{% endblock %}
{% block headline %}Willkommen auf Amronas{% endblock %}

{% block body %}
    <div class="text-center">
        <h2 class="py-5">Die Seite befindet sich aktuell im Update-Prozess ...</h2>
        <div class="d-flex justify-content-center">
            <img src="{{ asset('img/Baustellenschild.png') }}" width="300" alt="baustellenschild">
        </div>
        <h2 class="py-5">... schau vielleicht später nochmal vorbei!</h2>
    </div>
{% endblock %}