{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block headline %}Willkommen auf Amronas{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="font-handwritten">♡ Hiiii {{ app.user.username|capitalize }} ♡</h1>
    </div>
    {% if app.user and 'ROLE_FAMILY' in app.user.roles %}
    <div class="row text-center justify-content-md-center">
        <div class="col-12 col-md-8 col-lg-6 mb-4 px-5 px-lg-0">
            <a href="https://uebersicht.amronas.one/" target="_blank">
                <div class="card border-dark text-center" style="border-radius: 0.375rem;">
                    <div class="card-header bg-opacity-75 bg-secondary fst-italic"></div>
                    <div class="card-body">
                        <h5 class="card-title">Übersicht</h5>
                        <p class="card-text">
                            Klicke hier um zu deiner Übersicht zu gelangen :D
                        </p>
                    </div>
                    <div class="card-footer bg-opacity-75 text-bg-primary fst-italic">
                        https://uebersicht.amronas.one/
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endif %}
    <div class="row text-center justify-content-md-center">
        <div class="col-12 col-md-8 col-lg-6 mb-4 px-5 px-lg-0">
            <a href="https://pdf.amronas.one/" target="_blank">
                <div class="card border-dark text-center" style="border-radius: 0.375rem;">
                    <div class="card-header bg-opacity-75 bg-secondary fst-italic">
                        kennst du schon...
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Amronas-PDF</h5>
                        <p class="card-text">
                            Damit kannst du deine PDFs bearbeiten. Du kannst sie teilen/zusammenfügen, drehen,
                            Passwörter hinzufügen oder entfernen, Text auslesen oder auch die Datei komprimieren
                        </p>
                    </div>
                    <div class="card-footer bg-opacity-75 text-bg-primary fst-italic">
                        https://pdf.amronas.one/
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row text-center justify-content-md-center">
        <div class="col-12 col-md-8 col-lg-6 mb-4 px-5 mt-4 px-lg-0">
            <a href="https://tools.amronas.one/" target="_blank">
                <div class="card border-dark text-center" style="border-radius: 0.375rem;">
                    <div class="card-header bg-opacity-75 bg-secondary fst-italic">
                        kennst du schon...
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Amronas-Tools</h5>
                        <p class="card-text">
                            Hauptsächlich für Programmierer, aber wenn du einen QR-Code generieren,
                            Wörter zählen oder zwei Texte miteinander vergleichen willst, bist du hier richtig
                        </p>
                    </div>
                    <div class="card-footer bg-opacity-75 text-bg-primary fst-italic">
                        https://tools.amronas.one/
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
